{% extends './layout.html' %}

{% block content %}
<div class = 'well'>
    <h1>
      {{title}}
    </h1>

    <form class='deleteBtn' action='/categories/{{categoryId}}?_method=DELETE' method='POST'>
      <button class='btn btn-danger '> Delete Category</button>
  </form>

</div>
<div class='well'>
  <form method='POST' action='/categories/{{categoryId }}/products'>
    <div class='form-group'>
    <input placeholder='add a product' class='form-control' name='name' />
    </div>
    <button type='submit' class='btn btn-primary'>Insert Product</button>
  </form>
</div>
<ul class='list-group'>
  {% for product in products %}
    <li class='list-group-item'>
      {{ product.name }} 
      <form action='/categories/{{categoryId}}/products/{{product.id}}?_method=DELETE' method='POST'>
        <button class='btn btn-danger' type='submit'>Delete</button>
      </form>
    </li>
  {% endfor %}
</ul>

{% endblock %}
