{% extends './layout.html' %}

{% block content %}
<div class='well'>
  <form method='POST' action='/categories/{{category}}/products'>
    <div class='form-group'>
    <input placeholder='add a product' class='form-control' name='name' />
    </div>
    <button type='submit' class='btn btn-primary'>Insert Product</button>
  </form>
</div>
<ul class='list-group'>
  {% for idx, product in products %}
    <li class='list-group-item'>
      {{ product.name }}
      <form action='/categories/{{category}}/products/{{idx}}?_method=DELETE' method='POST'>
        <button class='btn btn-danger' type='submit'>Delete</button>
      </form>
    </li>
  {% endfor %}
</ul>

{% endblock %}
