<!DOCTYPE html>
<html>
	<head>
		<title>Acme Category Listings</title>
		
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
		<link rel="stylesheet" href="../public/stylesheets/style.css"/>
	</head>
	<body>

		<ul class="nav nav-tabs" style='margin-bottom: 10px'>
			<li {% if !category %} class='active' {% endif %}><a href="/"> Home</a></li>
			{% for _category in categories %}
        <li {% if category === _category %} class='active' {% endif %}>
          <a href="/categories/{{_category}}"> {{_category}} </a>
        </li>			
			{% endfor %}
		</ul>
		<div class = 'container'>
			<div margin-top: 10px>
				{% block content %}
			  {% endblock %}
			</div>
			
		</div>

	</body>
</html>	
